<div class="container">
  <div class="container-form-total">
    <div class="title">
      <div class="logo">
          <img src="/assets/img/logo.png" alt="logo">
      </div>
      <p>¡Genial!</p>
      <p>Ingresa tus datos</p>
    </div>
    <div class="form-container">
      <form class="form">
        <div class="container-labels">
            <label class="label label-name">Nombre</label>
            <input class="input" type="text" />

            <label class="label label-last-name">Apellido</label>
            <input class="input" type="text" />

            <label class="label label-email">Email</label>
            <input class="input" type="text" />

            <label class="label label-password">Contraseña</label>
            <div class="container-input-password">
              <input class="input-password input" type="password" />
              <button class="show-password-button">
                <i class="fa-regular fa-eye"></i>
              </button>
            </div>

            <label class="label label-repeat-password">Confirmar Contraseña</label>
            <div class="container-input-password">
              <input class="input-password input" type="password" />
              <button class="show-password-button">
                <i class="fa-regular fa-eye"></i>
              </button>
            </div>
        </div>
        <div class="actions-button-container">
          <button class="button-finish">Finalizar registro</button>
          <button class="button-into">¿Ya tienes una cuenta? Ingresa</button>
        </div>
      </form>
    </div>
  </div>

</div>
