<div class="container">
  <div class="container-form-total">
    <div class="title">
      <div class="logo">
          <img src="/assets/img/logo.png" alt="logo">
      </div>
      <p>¡Hola!</p>
      <p>Te damos la Bienvenida</p>
    </div>
    <div class="form-container">
      <form class="form">
        <div class="container-labels">
            <label class="label label-email">Email</label>
            <input class="input" type="text" />

            <label class="label label-password">Contraseña</label>
            <div class="container-input-password">
              <input class="input-password input" type="password" />
              <button class="show-password-button">
                <i class="fa-regular fa-eye"></i>
              </button>
            </div>

        </div>
        <div class="actions-button-container">
          <button class="button-forgot-password">
            Olvid&eacute; mi contraseña
          </button>
          <button class="button-into">Ingresar</button>
          <button class="button-sing-in">Reg&iacute;strate</button>
          <button class="button-into-google">Ingresar con Google</button>
          <button class="button-guest">Ingresar como invitado</button>
        </div>
      </form>
    </div>
  </div>

</div>
